



<div class="container">
    <div class="row">
        <div>
            <div class="analog-clock">
                <div class="hour hand" [ngStyle]="hourHandStyle"></div>
                <div class="minute hand" [ngStyle]="minuteHandStyle"></div>
                <div class="second hand" [ngStyle]="secondHandStyle"></div>
                <div class="center-circle"></div>
                <div class="digital-clock">{{format(hour)}}:{{format(minute)}}:{{format(second)}}</div>
            </div>
            
        </div>
    </div>
    <div class="row">
        
    </div>
    

    <input type="date" name="" id="">
    
</div>


